* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2b3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #4f5570;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(20, 9, 63, 0.418);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #d2d5ff;
}

.login-container img{
    max-width: 100px;
}

h1 .img{
    max-width: 50px;
}

.login-container .header{
    color: #d2ddff;
    font-size: 11.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3px 3px;
}

.login-container a{
    color: #e8f6ff;
}

.login-container .a{
    color: #eeff00;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 0 0;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    background-color: #dff0ff;
    color: #100646;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 .login-container #toggleSenha{
    padding: 2px 20px;
    width: 25px;
    display: flex;
    justify-content: center;
}



.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #112841;
    box-shadow: 0px 1px 6px #082749;
    color: #f3f4ff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 7.5px;
    transition: background-color 0.15s ease-in-out 0.08s; 
}

.login-container button:hover {
    background-color: #c8e7fa;
    color: #112841;
    font-style: unset;
    box-shadow: none;
    font-size: 18.5px;
    padding: 11px;
}

.error-message {
    color: rgb(255, 127, 127);
    margin-top: 10px;
    display: none;
}

.iframe-container {
     display: none; /* para começar oculto né */
    width: 100%;
    height: 100vh;
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}